body {
  margin: 0px;
}

.gray {
  padding: 10px;
  background-color: gray;
}

.box {
  background-color: blue;
  width: 70px;
  height: 70px;
}

.white {
  margin: auto;
  padding: 50px;
}

main {
  border: 20px;
  font-family: helvetica;
  font-size: 20px;
}

.blue {
  padding: 60px;
  background-color: blue;
  margin: auto;
}

.cyan {
  padding: 60px;
  background-color: cyan;
}

.green {
  padding: 60px;
  background-color: green;
}

.yellow {
  padding: 60px;
  background-color: yellow;
}
