body {
  background-color: #eaeaea;
  margin: 0px;
}

header {
  height: 15vh;
  background-color: black;
}

.body {
  width: 80%;
  height: 600px;
  margin: auto;
  background-color: white;
}

footer {
  background-color: black;
  margin: auto;
  width: 80%;
  height: 10vh;
}
